@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bike Shop</h1>
    <a href="/EShop/Index">
        <img src="~/@ViewData["LandingImage"]"/>
    </a>


</div>
