
<header>
    <h1>Bikes For Sale</h1>
    @Html.ActionLink("Login", "Login", "User", null, new { @class = "btn btn-primary" })
</header>

@Html.ActionLink("Go To Products", "Index", "Product", null, new { @class = "btn btn-primary" })